:root {

    /* WHCG_TEXT_FIELD */
    --whcg-text-field-label-color: var(--parmaco-tertiary-text-color);
    --whcg-text-field-input-field-text-color: var(--parmaco-tertiary-text-color, green);
    --whcg-text-field-input-field-background-color: var(--parmaco-attention-color-100pct, yellow);

    /*__dark*/
    --whcg-text-field-label-color__dark: var(--parmaco-black-text-color);
    --whcg-text-field-input-field-text-color__dark: var(--parmaco-primary-contrast-color, green);
    --whcg-text-field-input-field-background-color__dark: var(--parmaco-primary-color-100pct, yellow);
  }